#app-container {
  margin: 20px;
}

app-tiny-editor, textarea {
  width: 100%;
  margin-top: 2px;
  padding: 5px 5px;
  display: inline-block;
  border-radius: 3px;
}

textarea {
  width: 100%;
  min-height: 200px;
}

.error-msg {
  color: red;
}
